@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

.App {
  background-image: url("sky.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(47, 65, 47);
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
}

.App a {
  display: -ms-inline-flexbox;

  color: #0b5ed7;
  text-decoration: none;
}
.App a:hover {
  color: rgb(118, 122, 119);
  transition: ease-in-out;
}

.container {
  background-image: url("sky.png");

  border-radius: 8px;
}
.App footer {
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
