.App {
  background-image: url("sky.png");
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(118, 122, 119);
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
}

.App a {
  display: -ms-inline-flexbox;

  color: #0b5ed7;
  text-decoration: none;
}
.App a:hover {
  color: rgb(118, 122, 119);
  transition: ease-in-out;
}

.container {
  background-image: url("sky.png");
}
