.App {
  background-image: url("sky.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(118, 122, 119);
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
}

.App a {
  display: -ms-inline-flexbox;

  color: #0b5ed7;
  text-decoration: none;
}
.App a:hover {
  color: rgb(118, 122, 119);
  transition: ease-in-out;
}

.container {
  background-image: url("sky.png");
}
.App footer {
  font-size: 18px;
  margin: 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
